openapi: 3.0.3
info:
  contact:
    email: hello@eliona.io
    name: Eliona by IoTEC AG
    url: https://eliona.io
  description: The Eliona REST API enables unified access to the resources and data
    of an Eliona environment.
  license:
    name: MIT License
  title: Eliona REST API
  version: 2.5.0
externalDocs:
  description: Find out more about Eliona App SDK
  url: https://github.com/eliona-smart-building-assistant
servers:
- url: https://api.eliona.io/v2
security:
- ApiKeyAuth: []
- BearerAuth: []
tags:
- description: Handle nodes
  externalDocs:
    url: https://www.eliona.io
  name: Nodes
- description: Handle agents
  externalDocs:
    url: https://www.eliona.io
  name: Agents
- description: Handle alarms
  externalDocs:
    url: https://www.eliona.io
  name: Alarms
- description: Handle alarm rules
  externalDocs:
    url: https://www.eliona.io
  name: Alarm rules
- description: Handle apps
  externalDocs:
    url: https://www.eliona.io
  name: Apps
- description: Handle asset types
  externalDocs:
    url: https://www.eliona.io
  name: Asset types
- description: Handle assets
  externalDocs:
    url: https://www.eliona.io
  name: Assets
- description: Handle data aggregations
  externalDocs:
    url: https://www.eliona.io
  name: Aggregations
- description: Handle asset data
  externalDocs:
    url: https://www.eliona.io
  name: Data
- description: Handle dashboards
  externalDocs:
    url: https://www.eliona.io
  name: Dashboards
- description: Handle widgets types for dashboards
  externalDocs:
    url: https://www.eliona.io
  name: Widgets types
- description: Handle widgets for dashboards
  externalDocs:
    url: https://www.eliona.io
  name: Widgets
- description: Communicate to peoples
  externalDocs:
    url: https://www.eliona.io
  name: Communication
- description: User information
  externalDocs:
    url: https://www.eliona.io
  name: Users
- description: Project information
  externalDocs:
    url: https://www.eliona.io
  name: Projects
- description: Tag information
  externalDocs:
    url: https://www.eliona.io
  name: Tags
- description: QR codes for frontend links
  externalDocs:
    url: https://www.eliona.io
  name: QR codes
- description: API version
  externalDocs:
    url: https://www.eliona.io
  name: Version
paths:
  /version:
    get:
      description: Gets information about the APIs version.
      operationId: getVersion
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: Successfully returned the APIs version.
      security: []
      summary: Version of the API
      tags:
      - Version
  /version/openapi.json:
    get:
      description: Gets specification for this API version as an openapi.json file.
      operationId: getOpenAPI
      responses:
        "200":
          content:
            application/json: {}
          description: Successfully returned the openapi.json file.
      security: []
      summary: OpenAPI specification for this API version
      tags:
      - Version
  /apps/{app-name}:
    get:
      description: Gets information about an app.
      operationId: getAppByName
      parameters:
      - description: The name of the app
        example: weather
        in: path
        name: app-name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: Successfully returned information about an app.
      summary: Information about an app
      tags:
      - Apps
    patch:
      description: Update properties of an app.
      operationId: patchAppByName
      parameters:
      - description: The name of the app
        example: weather
        in: path
        name: app-name
        required: true
        schema:
          type: string
      - description: "Marks that the app is now initialized and installed. Further\
          \ request to get app information returns { \"registered\": true }"
        in: query
        name: registered
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successfully updated the app
      summary: Update an app
      tags:
      - Apps
  /apps/{app-name}/patches/{patch-name}:
    get:
      description: Gets information about a patch for an app.
      operationId: getPatchByName
      parameters:
      - description: The name of the app
        example: weather
        in: path
        name: app-name
        required: true
        schema:
          type: string
      - description: The name of the patch
        example: 2.0.0
        in: path
        name: patch-name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patch'
          description: Successfully returned information about a patch for an app
      summary: Information about a patch for an app
      tags:
      - Apps
    patch:
      description: Updates properties of a patch for an app.
      operationId: patchPatchByName
      parameters:
      - description: The name of the app
        example: weather
        in: path
        name: app-name
        required: true
        schema:
          type: string
      - description: The name of the patch
        example: 2.0.0
        in: path
        name: patch-name
        required: true
        schema:
          type: string
      - description: "Marks that the patch is now applied. Further request to get\
          \ patch information returns { \"applied\": true }"
        in: query
        name: apply
        required: false
        schema:
          type: boolean
      responses:
        "200":
          description: Successfully updated the patch for the app
      summary: Updates a patch
      tags:
      - Apps
  /asset-types:
    get:
      description: Returns a list of asset types
      operationId: getAssetTypes
      parameters:
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AssetType'
                type: array
          description: Successfully returned a list of asset types
      summary: List of asset types
      tags:
      - Asset types
    post:
      description: Create a new asset type.
      operationId: postAssetType
      parameters:
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetType'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetType'
          description: Successfully created a new asset type
        "409":
          description: Asset type name already exists
      summary: Create an asset type
      tags:
      - Asset types
    put:
      description: Create a new asset type or update an asset type if already exists.
        Uses the unique asset type name for updating.
      operationId: putAssetType
      parameters:
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetType'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetType'
          description: Successfully created a new or updated an existing asset type
      summary: Create or update an asset type
      tags:
      - Asset types
  /asset-types/{asset-type-name}:
    delete:
      description: Deletes an asset type and the attributes for this asset type.
      operationId: deleteAssetTypeByName
      parameters:
      - description: The name of the asset type
        example: weather_location
        in: path
        name: asset-type-name
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Successfully deleted the asset type
        "404":
          description: Asset type with name not found
      summary: Delete an asset type
      tags:
      - Asset types
    get:
      description: Gets information about an asset type.
      operationId: getAssetTypeByName
      parameters:
      - description: The name of the asset type
        example: weather_location
        in: path
        name: asset-type-name
        required: true
        schema:
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetType'
          description: Successfully returned an asset type by name.
        "404":
          description: Asset type with name not found
      summary: Information about an asset type
      tags:
      - Asset types
    put:
      description: Update an asset type.
      operationId: putAssetTypeByName
      parameters:
      - description: The name of the asset type
        example: weather_location
        in: path
        name: asset-type-name
        required: true
        schema:
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetType'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetType'
          description: Successfully updated an existing asset type
        "404":
          description: Asset type with name not found
      summary: Update an asset type
      tags:
      - Asset types
  /asset-types/{asset-type-name}/attributes:
    post:
      description: Create a new asset type attribute.
      operationId: postAssetTypeAttribute
      parameters:
      - description: The name of the asset type
        example: weather_location
        in: path
        name: asset-type-name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetTypeAttribute'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetTypeAttribute'
          description: Successfully created a new asset type attribute
        "409":
          description: "Combination of asset type name, subtype and attribute name\
            \ already exists"
      summary: Create asset type attribute
      tags:
      - Asset types
    put:
      description: "Create a new asset type attribute or update an asset type attribute\
        \ if already exists. Uses the unique combination of asset type name, subtype\
        \ and attribute name for updating."
      operationId: putAssetTypeAttribute
      parameters:
      - description: The name of the asset type
        example: weather_location
        in: path
        name: asset-type-name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetTypeAttribute'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetTypeAttribute'
          description: Successfully created a new or updated an existing asset type
            attribute
      summary: Create or update an asset type attribute
      tags:
      - Asset types
  /assets:
    get:
      description: Gets a list of assets
      operationId: getAssets
      parameters:
      - description: Filter the name of the asset type
        example: weather_location
        in: query
        name: assetTypeName
        required: false
        schema:
          type: string
      - description: Filter for a specific project
        in: query
        name: projectId
        required: false
        schema:
          nullable: true
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Asset'
                type: array
          description: Successfully returned the list of assets
      summary: Information about assets
      tags:
      - Assets
    post:
      description: |
        This process involves creating an asset. The determination if the asset already exists and cannot be
        created is done by the 'identifiedBy' parameter, which specifies the field used for identification.
      operationId: postAsset
      parameters:
      - description: |
          Serves the field name send in the request body as a unique identifier for the asset, essential for
          operations like updates or deletions. Please refer to the Asset
          schema definition for further information about this fields.

          In cases where this parameter isn't defined, all field names
          are used in the order defined. So if there is no 'resourceId' present in the request body, the 'deviceId' is
          used and when there is also no deviceId present the 'id' field (assetId) is used.
        example: resourceId
        in: query
        name: identifiedBy
        required: false
        schema:
          enum:
          - resourceId
          - deviceId
          - id
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Asset'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: |
            Successfully created a new asset
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage422'
          description: |
            Issues arisen during the creation or updating process.
      summary: Create an asset
      tags:
      - Assets
    put:
      description: |
        This process involves creating or updating an asset. The choice between updating or creating is determined
        by the 'identifiedBy' parameter, which specifies the field used for identification.
      operationId: putAsset
      parameters:
      - description: |
          Serves the field name send in the request body as a unique identifier for the asset, essential for
          operations like updates or deletions. Please refer to the Asset
          schema definition for further information about this fields.

          In cases where this parameter isn't defined, all field names
          are used in the order defined. So if there is no 'resourceId' present in the request body, the 'deviceId' is
          used and when there is also no deviceId present the 'id' field (assetId) is used.
        example: resourceId
        in: query
        name: identifiedBy
        required: false
        schema:
          enum:
          - resourceId
          - deviceId
          - id
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Asset'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: Successfully created a new or updated an existing asset
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage422'
          description: Issues arisen during the creation or updating process.
      summary: Create or update an asset
      tags:
      - Assets
  /assets/{asset-id}:
    get:
      description: Gets information about an asset.
      operationId: getAssetById
      parameters:
      - description: The id of the asset
        example: 4711
        in: path
        name: asset-id
        required: true
        schema:
          type: integer
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: Successfully returned the asset by id.
        "404":
          description: Asset with id not found
      summary: Information about an asset
      tags:
      - Assets
    put:
      deprecated: true
      description: |
        Deprecated: use the 'PUT /asset' method and optionally the 'identifiedBy' parameter to update a specific asset.
      operationId: putAssetById
      parameters:
      - description: The id of the asset
        example: 4711
        in: path
        name: asset-id
        required: true
        schema:
          type: integer
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Asset'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
          description: Successfully updated an existing asset
        "404":
          description: Asset with id not found
      summary: Update an asset
      tags:
      - Assets
  /assets-bulk:
    delete:
      description: Delete multiple assets based on the identifiers defined by the
        'identifiedBy' parameter.
      operationId: deleteBulkAssets
      parameters:
      - description: |
          Serves the field name send in the request body as a unique identifier for the asset, essential for
          operations like updates or deletions. Please refer to the Asset
          schema definition for further information about this fields.

          In cases where this parameter isn't defined, all field names
          are used in the order defined. So if there is no 'resourceId' present in the request body, the 'deviceId' is
          used and when there is also no deviceId present the 'id' field (assetId) is used.
        example: resourceId
        in: query
        name: identifiedBy
        required: false
        schema:
          enum:
          - resourceId
          - deviceId
          - id
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: The unique identifiers of the assets to be deleted. This
                  can be handled by 'identifiedBy' parameter.
                type: object
              type: array
        required: true
      responses:
        "204":
          description: The complete list of assets have been successfully deleted.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage422'
          description: "Issues may arise during the deletion process. If at least\
            \ one asset encounters an error and cannot be deleted or is not found,\
            \ no changes will be applied to any of the assets in the list."
      summary: Delete a list of assets
      tags:
      - Assets
    post:
      description: "This process involves creating the assets in the list. The determination\
        \ if the asset already exists and cannot be created is done by the 'identifiedBy'\
        \ parameter, which specifies the field used for identification."
      operationId: postBulkAssets
      parameters:
      - description: |
          Serves the field name send in the request body as a unique identifier for the asset, essential for
          operations like updates or deletions. Please refer to the Asset
          schema definition for further information about this fields.

          In cases where this parameter isn't defined, all field names
          are used in the order defined. So if there is no 'resourceId' present in the request body, the 'deviceId' is
          used and when there is also no deviceId present the 'id' field (assetId) is used.
        example: resourceId
        in: query
        name: identifiedBy
        required: false
        schema:
          enum:
          - resourceId
          - deviceId
          - id
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Asset'
              type: array
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Asset'
                type: array
          description: "The complete list of assets has been successfully created.\
            \ The content displays the list of assets in the same order as the initial\
            \ request, along with some generated or default values (e.g. timestamps,\
            \ IDs)."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage422'
          description: "Issues may arise during the creation process when handling\
            \ the assets in the list. In such cases, if at least one asset encounters\
            \ an error and cannot be created, no changes will be applied to any of\
            \ the assets in the list."
      summary: Create a list of assets
      tags:
      - Assets
    put:
      description: "This process involves creating or updating assets. The choice\
        \ between updating or creating an asset is determined by the 'identifiedBy'\
        \ parameter, which specifies the field used for identification."
      operationId: putBulkAssets
      parameters:
      - description: |
          Serves the field name send in the request body as a unique identifier for the asset, essential for
          operations like updates or deletions. Please refer to the Asset
          schema definition for further information about this fields.

          In cases where this parameter isn't defined, all field names
          are used in the order defined. So if there is no 'resourceId' present in the request body, the 'deviceId' is
          used and when there is also no deviceId present the 'id' field (assetId) is used.
        example: resourceId
        in: query
        name: identifiedBy
        required: false
        schema:
          enum:
          - resourceId
          - deviceId
          - id
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Asset'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Asset'
                type: array
          description: "The complete list of assets has been successfully created\
            \ or updated. The content displays the list of assets in the same order\
            \ as the initial request, along with some generated or default values\
            \ (e.g. timestamps, IDs)."
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage422'
          description: "Issues may arise during the creation or updating process when\
            \ handling the assets in the list. In such cases, if at least one asset\
            \ encounters an error and cannot be created or updated, no changes will\
            \ be applied to any of the assets in the list."
      summary: Create or update a list of assets
      tags:
      - Assets
  /assets-bulk/dry-run:
    delete:
      description: Simulates the process of deleting multiple assets via the 'DELETE
        /assets-bulk' without actually persisting any changes.
      operationId: dryRunDeleteBulkAssets
      parameters:
      - description: |
          Serves the field name send in the request body as a unique identifier for the asset, essential for
          operations like updates or deletions. Please refer to the Asset
          schema definition for further information about this fields.

          In cases where this parameter isn't defined, all field names
          are used in the order defined. So if there is no 'resourceId' present in the request body, the 'deviceId' is
          used and when there is also no deviceId present the 'id' field (assetId) is used.
        example: resourceId
        in: query
        name: identifiedBy
        required: false
        schema:
          enum:
          - resourceId
          - deviceId
          - id
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                description: The unique identifiers of the assets to be deleted. This
                  can be handled by 'identifiedBy' parameter.
                type: object
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AssetDryRun'
                type: array
          description: The list of expected results if the request is actually performed.
            The content displays the list of expected results in the same order as
            the initial request.
      summary: Dry-run for deleting a list of assets
      tags:
      - Assets
    post:
      description: Simulates the process of creating assets via the 'POST /assets-bulk'
        endpoint without actually persisting any changes.
      operationId: dryRunPostBulkAssets
      parameters:
      - description: |
          Serves the field name send in the request body as a unique identifier for the asset, essential for
          operations like updates or deletions. Please refer to the Asset
          schema definition for further information about this fields.

          In cases where this parameter isn't defined, all field names
          are used in the order defined. So if there is no 'resourceId' present in the request body, the 'deviceId' is
          used and when there is also no deviceId present the 'id' field (assetId) is used.
        example: resourceId
        in: query
        name: identifiedBy
        required: false
        schema:
          enum:
          - resourceId
          - deviceId
          - id
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AssetDryRun'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AssetDryRun'
                type: array
          description: The list of expected results if the request is actually performed.
            The content displays the list of expected results in the same order as
            the initial request.
      summary: Dry-run for creating a list of assets
      tags:
      - Assets
    put:
      description: Simulates the process of creating or updating assets via the 'PUT
        /assets-bulk' endpoint without actually persisting any changes.
      operationId: dryRunPutBulkAssets
      parameters:
      - description: |
          Serves the field name send in the request body as a unique identifier for the asset, essential for
          operations like updates or deletions. Please refer to the Asset
          schema definition for further information about this fields.

          In cases where this parameter isn't defined, all field names
          are used in the order defined. So if there is no 'resourceId' present in the request body, the 'deviceId' is
          used and when there is also no deviceId present the 'id' field (assetId) is used.
        example: resourceId
        in: query
        name: identifiedBy
        required: false
        schema:
          enum:
          - resourceId
          - deviceId
          - id
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Asset'
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AssetDryRun'
                type: array
          description: The list of expected results if the request is actually performed.
            The content displays the list of expected results in the same order as
            the initial request.
      summary: Dry-run for creating or updating a list of assets
      tags:
      - Assets
  /attribute-display:
    get:
      description: Gets information about how attributes for specific assets are displayed
        in frontend.
      operationId: getAttributeDisplay
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeDisplay'
          description: Successfully returned display information for attributes
      summary: How attributes are displayed
      tags:
      - Assets
    put:
      description: "Create or update how attributes are displayed in frontend. Uses\
        \ the unique combination of asset id, subtype and attribute name for updating."
      operationId: putAttributeDisplay
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributeDisplay'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributeDisplay'
          description: Successfully updated or created display information for attributes
      summary: Create or update how attributes are displayed
      tags:
      - Assets
  /data:
    get:
      description: Gets information about data for assets.
      operationId: getData
      parameters:
      - description: Filter for a specific asset id
        example: 4711
        in: query
        name: assetId
        required: false
        schema:
          type: integer
      - description: Filter for a specific type of asset data
        example: input
        in: query
        name: dataSubtype
        required: false
        schema:
          enum:
          - input
          - info
          - status
          - output
          type: string
      - description: Filter the name of the asset type
        example: weather_location
        in: query
        name: assetTypeName
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Data'
                type: array
          description: Successfully returned data for assets
      summary: Gets all data
      tags:
      - Data
    put:
      description: Create new asset data or update data if already exists. Uses the
        unique combination of asset id and subtype for updating.
      operationId: putData
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Data'
        required: true
      responses:
        "201":
          description: Successfully created a new or updated existing asset data
      summary: Create or update asset data
      tags:
      - Data
  /data-bulk:
    put:
      description: Create multiple asset data or update data if already exists. Uses
        the unique combination of asset id and subtype for updating.
      operationId: putBulkData
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Data'
              type: array
        required: true
      responses:
        "201":
          description: Successfully created multiple asset data
      summary: Create or update multiple asset data
      tags:
      - Data
  /data-trends:
    get:
      description: Gets trend information about historical data for assets.
      operationId: getDataTrends
      parameters:
      - description: Filter by lower date time (RFC3339) limit inclusive
        example: 2020-01-01T09:00:00.000Z
        in: query
        name: fromDate
        required: false
        schema:
          type: string
      - description: Filter by upper date time (RFC3339) limit exclusive
        example: 2021-12-31T23:00:00.000Z
        in: query
        name: toDate
        required: false
        schema:
          type: string
      - description: Filter for a specific asset id
        example: 4711
        in: query
        name: assetId
        required: false
        schema:
          type: integer
      - description: Filter for a specific type of asset data
        example: input
        in: query
        name: dataSubtype
        required: false
        schema:
          enum:
          - input
          - info
          - status
          - output
          type: string
      - description: Filter the name of the asset type
        example: weather_location
        in: query
        name: assetTypeName
        required: false
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Data'
                type: array
          description: Successfully returned historical data for assets
      summary: Get trend of historical data
      tags:
      - Data
  /data-listener:
    get:
      description: Open a WebSocket connection to get informed when new asset data
        is written or anything changes.
      operationId: listenData
      parameters:
      - description: Filter for a specific asset id
        example: 4711
        in: query
        name: assetId
        required: false
        schema:
          type: integer
      - description: Filter for a specific type of asset data
        example: input
        in: query
        name: dataSubtype
        required: false
        schema:
          enum:
          - input
          - info
          - status
          - output
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Data'
          description: Successfully opened a connection to asset data WebSocket
      summary: WebSocket connection for asset data changes
      tags:
      - Data
  /data-aggregated:
    get:
      description: Gets aggregated data sets which combines a set of data points for
        a defined periodical raster
      operationId: getDataAggregated
      parameters:
      - description: Filter by lower date time (RFC3339) limit inclusive
        example: 2020-01-01T09:00:00.000Z
        in: query
        name: fromDate
        required: false
        schema:
          type: string
      - description: Filter by upper date time (RFC3339) limit exclusive
        example: 2021-12-31T23:00:00.000Z
        in: query
        name: toDate
        required: false
        schema:
          type: string
      - description: Filter for a specific asset id
        example: 4711
        in: query
        name: assetId
        required: false
        schema:
          type: integer
      - description: Filter for a specific type of asset data
        example: input
        in: query
        name: dataSubtype
        required: false
        schema:
          enum:
          - input
          - info
          - status
          - output
          type: string
      - description: Filter the name of the asset type
        example: weather_location
        in: query
        name: assetTypeName
        required: false
        schema:
          type: string
      - description: Filter for a specific aggregation id
        example: "0815"
        in: query
        name: aggregationId
        required: false
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/DataAggregated'
                type: array
          description: Successfully returned aggregated data sets
      summary: Get aggregated data
      tags:
      - Data
  /aggregations:
    get:
      description: Gets a list of aggregations
      operationId: getAggregations
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Aggregation'
                type: array
          description: Successfully returned the list of aggregations
      summary: Information about aggregations
      tags:
      - Aggregations
    post:
      description: Creates a new aggregation.
      operationId: postAggregation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Aggregation'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aggregation'
          description: Successfully created an aggregation
        "409":
          description: "Combination of asset id, subtype, attribute and raster already\
            \ exists"
      summary: Creates an aggregation
      tags:
      - Aggregations
    put:
      description: "Creates an aggregation or updates if already exists. Uses the\
        \ unique combination of asset id, subtype, attribute and raster for updating."
      operationId: putAggregation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Aggregation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aggregation'
          description: Successfully created or updated an aggregation
      summary: Creates or updates an aggregation
      tags:
      - Aggregations
  /aggregations/{aggregation-id}:
    delete:
      description: Deletes an aggregation by the given id.
      operationId: deleteAggregationById
      parameters:
      - description: The id of the aggregation
        example: 4711
        in: path
        name: aggregation-id
        required: true
        schema:
          type: integer
      responses:
        "204":
          description: Successfully deleted the aggregation by id.
        "404":
          description: Aggregation with id not found
      summary: Delete an aggregation
      tags:
      - Aggregations
    get:
      description: Gets information about an aggregation by the given id.
      operationId: getAggregationById
      parameters:
      - description: The id of the aggregation
        example: 4711
        in: path
        name: aggregation-id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aggregation'
          description: Successfully returned an aggregation by id.
        "404":
          description: Aggregation with id not found
      summary: Information about an aggregation
      tags:
      - Aggregations
    put:
      description: Updates an aggregation.
      operationId: putAggregationById
      parameters:
      - description: The id of the aggregation
        example: 4711
        in: path
        name: aggregation-id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Aggregation'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Aggregation'
          description: Successfully updated an aggregation
        "404":
          description: Aggregation with id not found
      summary: Updates an aggregation
      tags:
      - Aggregations
  /widget-types:
    get:
      description: Returns a list of widget types
      operationId: getWidgetTypes
      parameters:
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/WidgetType'
                type: array
          description: Successfully returned a list of widget types
      summary: List of widget types
      tags:
      - Widgets types
    post:
      description: Create a new widget type.
      operationId: postWidgetType
      parameters:
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetType'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetType'
          description: Successfully created widget type
        "409":
          description: Widget type name already exists
      summary: Create a widget type
      tags:
      - Widgets types
    put:
      description: Create a new widget type or update it if already exists. Uses the
        unique widget type name for updating.
      operationId: putWidgetType
      parameters:
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetType'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetType'
          description: Successfully added or updated widget type
      summary: Create or update a widget type
      tags:
      - Widgets types
  /widget-types/{widget-type-name}:
    delete:
      description: Deletes a widget type and the elements for this widget type.
      operationId: deleteWidgetTypeByName
      parameters:
      - description: The name of the widget type
        example: weather
        in: path
        name: widget-type-name
        required: true
        schema:
          type: string
      responses:
        "204":
          description: Successfully deleted the widget type
        "404":
          description: Widget type with name not found
      summary: Delete a widget type
      tags:
      - Widgets types
    get:
      description: Gets information about a widget type.
      operationId: getWidgetTypeByName
      parameters:
      - description: The name of the widget type
        example: weather
        in: path
        name: widget-type-name
        required: true
        schema:
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetType'
          description: Successfully returned a widget type by name.
        "404":
          description: Widget type with name not found
      summary: Information about a widget type
      tags:
      - Widgets types
    put:
      description: Update a widget type.
      operationId: putWidgetTypeByName
      parameters:
      - description: The name of the widget type
        example: weather
        in: path
        name: widget-type-name
        required: true
        schema:
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetType'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WidgetType'
          description: Successfully updated widget type
        "404":
          description: Widget type with name not found
      summary: Update a widget type
      tags:
      - Widgets types
  /dashboards:
    get:
      description: Gets a list of dashboards
      operationId: getDashboards
      parameters:
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dashboard'
                type: array
          description: Successfully returned the list of dashboards
      summary: Information about dashboards
      tags:
      - Dashboards
    post:
      description: Create a new dashboard for frontend
      operationId: postDashboard
      parameters:
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: Successfully added a new Dashboard
      summary: Creates a new dashboard
      tags:
      - Dashboards
  /dashboards/{dashboard-id}:
    get:
      description: Gets information about a dashboard.
      operationId: getDashboardById
      parameters:
      - description: The id of the dashboard
        example: 4711
        in: path
        name: dashboard-id
        required: true
        schema:
          type: integer
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: Successfully returned the the dashboard
        "404":
          description: Dashboard with id not found
      summary: Information about a dashboard
      tags:
      - Dashboards
  /dashboards/{dashboard-id}/widgets:
    get:
      description: Gets information about widgets on a dashboard.
      operationId: getDashboardWidgets
      parameters:
      - description: The id of the dashboard
        example: 4711
        in: path
        name: dashboard-id
        required: true
        schema:
          type: integer
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Widget'
          description: Successfully returned the widgets for the dashboard
        "404":
          description: Dashboard with id not found
      summary: Information about widgets on dashboard
      tags:
      - Widgets
    post:
      description: Create a new widget and add this to a dashboard
      operationId: postDashboardWidget
      parameters:
      - description: The id of the dashboard
        example: 4711
        in: path
        name: dashboard-id
        required: true
        schema:
          type: integer
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Widget'
        required: true
      responses:
        "201":
          description: Successfully added widget
        "404":
          description: Dashboard with id not found
      summary: Adds widget to dashboard
      tags:
      - Widgets
  /alarm-rules:
    get:
      description: Gets information about alarm rules.
      operationId: getAlarmRules
      parameters:
      - description: List of alarm rule ids for filtering
        explode: false
        in: query
        name: alarmRuleIds
        required: false
        schema:
          items:
            type: integer
          nullable: true
          type: array
        style: form
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlarmRule'
                type: array
          description: Successfully returned a list of alarms
      summary: Information about alarm rules
      tags:
      - Alarm rules
    post:
      description: Create a new alarm rule.
      operationId: postAlarmRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlarmRule'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlarmRule'
          description: Successfully created a new alarm rule
      summary: Create an alarm rule
      tags:
      - Alarm rules
    put:
      deprecated: true
      description: "Deprecated - Use POST /alarm-rules to create and PUT /alarm-rules/{alarm-rule-id}\
        \ to update"
      operationId: putAlarmRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlarmRule'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlarmRule'
          description: Successfully created a new or updated an existing alarm rule
      summary: Create or update an alarm rule
      tags:
      - Alarm rules
  /alarm-rules/{alarm-rule-id}:
    delete:
      description: Deletes an alarm rule.
      operationId: deleteAlarmRuleById
      parameters:
      - description: The id of the alarm rule
        example: 4711
        in: path
        name: alarm-rule-id
        required: true
        schema:
          type: integer
      responses:
        "204":
          description: Successfully deleted the alarm rule
        "404":
          description: Alarm rule with id not found
      summary: Delete an alarm rule
      tags:
      - Alarm rules
    get:
      description: Gets information about an alarm rule.
      operationId: getAlarmRuleById
      parameters:
      - description: The id of the alarm rule
        example: 4711
        in: path
        name: alarm-rule-id
        required: true
        schema:
          type: integer
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlarmRule'
          description: Successfully returned an alarm rule
        "404":
          description: Alarm rule with id not found
      summary: Information about an alarm rule
      tags:
      - Alarm rules
    put:
      description: Update an alarm rule.
      operationId: putAlarmRuleById
      parameters:
      - description: The id of the alarm rule
        example: 4711
        in: path
        name: alarm-rule-id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlarmRule'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlarmRule'
          description: Successfully updated an existing alarm rule
        "404":
          description: Alarm rule with id not found
      summary: Update an alarm rule
      tags:
      - Alarm rules
  /alarms:
    get:
      description: Gets information about alarms
      operationId: getAlarms
      parameters:
      - description: Filter for a specific project
        in: query
        name: projectId
        required: false
        schema:
          nullable: true
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Alarm'
                type: array
          description: Successfully returned a list of alarms
      summary: Information about alarms
      tags:
      - Alarms
  /alarms/{alarm-rule-id}:
    get:
      description: Gets information about alarm.
      operationId: getAlarmById
      parameters:
      - description: The id of the alarm rule
        example: 4711
        in: path
        name: alarm-rule-id
        required: true
        schema:
          type: integer
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alarm'
          description: Successfully returned an alarm
        "404":
          description: Alarm with id not found
      summary: Information about alarm
      tags:
      - Alarms
    patch:
      description: Update properties of alarm for given id.
      operationId: patchAlarmById
      parameters:
      - description: The id of the alarm rule
        example: 4711
        in: path
        name: alarm-rule-id
        required: true
        schema:
          type: integer
      - description: Marks the alarm as acknowledged or not acknowledged by setting
          the acknowledge timestamp to now or to null.
        in: query
        name: acknowledged
        required: true
        schema:
          enum:
          - true
          - false
          type: boolean
      - description: Sets the text for acknowledgement if acknowledged is set to true
        in: query
        name: acknowledgeText
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Successfully updated the alarm
      summary: Update alarm
      tags:
      - Alarms
  /alarms-history:
    get:
      description: "Gets information about alarms over the entire time. This includes\
        \ current alarms and alarms, which are already processed."
      operationId: getAlarmsHistory
      parameters:
      - description: Filter for a specific project
        in: query
        name: projectId
        required: false
        schema:
          nullable: true
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Alarm'
                type: array
          description: Successfully returned a list of alarms
      summary: Information about alarms history
      tags:
      - Alarms
  /alarms-history/{alarm-rule-id}:
    get:
      description: Gets information about alarm over the entire time. This includes
        current alarm and history.
      operationId: getAlarmHistoryById
      parameters:
      - description: The id of the alarm rule
        example: 4711
        in: path
        name: alarm-rule-id
        required: true
        schema:
          type: integer
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Alarm'
                type: array
          description: Successfully returned a list of alarms
      summary: Information about alarm history
      tags:
      - Alarms
  /alarms-highest:
    get:
      description: Gets information about an alarms with the highest priority for
        each asset.
      operationId: getHighestAlarms
      parameters:
      - description: Filter for a specific project
        in: query
        name: projectId
        required: false
        schema:
          nullable: true
          type: string
      - description: "List of referenced data to load, insert or update. Each entry\
          \ defines the full qualified name of the field to be expanded as follows\
          \ 'ObjectName.fieldName'."
        explode: false
        in: query
        name: expansions
        schema:
          items:
            type: string
          nullable: true
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Alarm'
                type: array
          description: Successfully returned a list of most prioritized alarms
      summary: Information about most prioritized alarms
      tags:
      - Alarms
  /alarm-listener:
    get:
      description: Open a WebSocket connection to get informed when new alarm data
        is written or anything changes.
      operationId: listenAlarm
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alarm'
          description: Successfully opened a connection to alarm WebSocket
      summary: WebSocket connection for alarm changes
      tags:
      - Alarms
  /nodes:
    get:
      description: Gets information about nodes.
      operationId: getNodes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Node'
                type: array
          description: Successfully returned a list of nodes
      summary: Information about nodes
      tags:
      - Nodes
    post:
      description: Create a new node.
      operationId: postNode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Node'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
          description: Successfully created a new node
      summary: Create a node
      tags:
      - Nodes
    put:
      deprecated: true
      description: "Deprecated - Use POST /nodes to create PUT /nodes/{node-ident}\
        \ to update."
      operationId: putNode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Node'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
          description: Successfully created a new or updated an existing node
      summary: Create or update a node
      tags:
      - Nodes
  /nodes/{node-ident}:
    get:
      description: Gets information about a node.
      operationId: getNodeByIdent
      parameters:
      - description: The UUID identifier of the node
        example: 4711
        in: path
        name: node-ident
        required: true
        schema:
          example: fef0a0d3-acad-4611-ac03-1fd842d72505
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
          description: Successfully returned a node
        "404":
          description: Node ident not found
      summary: Information about a node
      tags:
      - Nodes
    put:
      description: Update a node.
      operationId: putNodeByIdent
      parameters:
      - description: The UUID identifier of the node
        example: 4711
        in: path
        name: node-ident
        required: true
        schema:
          example: fef0a0d3-acad-4611-ac03-1fd842d72505
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Node'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Node'
          description: Successfully updated an existing node
        "404":
          description: Node ident not found
      summary: Update a node
      tags:
      - Nodes
  /agents:
    get:
      description: Gets information about agents.
      operationId: getAgents
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Agent'
                type: array
          description: Successfully returned a list of agents
      summary: Information about agents
      tags:
      - Agents
  /agents/{agent-class}:
    get:
      description: Gets information about agents.
      operationId: getAgentsByClass
      parameters:
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Agent'
                type: array
          description: Successfully returned a list of agents
      summary: Information about agents for a specific class
      tags:
      - Agents
    post:
      description: Create a new agent for a specific class
      operationId: postAgentByClass
      parameters:
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Agent'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
          description: Successfully created a new agent
      summary: Create an agent
      tags:
      - Agents
    put:
      deprecated: true
      description: "Deprecated - use POST /agents/{agent-class} for creating and PUT\
        \ /agents/{agent-class}/{agent-id} for updating"
      operationId: putAgentByClass
      parameters:
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Agent'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
          description: Successfully created a new or updated an existing agent
      summary: Create or update an agent
      tags:
      - Agents
  /agents/{agent-class}/{agent-id}:
    get:
      description: Gets information about an agent.
      operationId: getAgentByClassAndId
      parameters:
      - description: The id of the agent
        example: 4711
        in: path
        name: agent-id
        required: true
        schema:
          type: integer
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
          description: Successfully returned an agent
        "404":
          description: Agent with id not found
      summary: Information about an agent
      tags:
      - Agents
    put:
      description: Update an agent.
      operationId: putAgentByClassAndId
      parameters:
      - description: The id of the agent
        example: 4711
        in: path
        name: agent-id
        required: true
        schema:
          type: integer
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Agent'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
          description: Successfully updated an existing agent
        "404":
          description: Agent with id not found
      summary: Update an agent
      tags:
      - Agents
  /agents/{agent-class}/{agent-id}/devices:
    get:
      description: Gets information about agent devices.
      operationId: getAgentDevicesByAgentId
      parameters:
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      - description: The id of the agent
        example: 4711
        in: path
        name: agent-id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AgentDevice'
                type: array
          description: Successfully returned a list of devices
      summary: Information about agent devices
      tags:
      - Agents
    post:
      description: Create a new agent device.
      operationId: postAgentDeviceByAgentId
      parameters:
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      - description: The id of the agent
        example: 4711
        in: path
        name: agent-id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentDevice'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDevice'
          description: Successfully created a new agent device
      summary: Create an agent device
      tags:
      - Agents
    put:
      deprecated: true
      description: "Deprecated - use POST /agents/{agent-class}/{agent-id}/devices\
        \ for creating and PUT /agent-devices/{agent-class}/{agent-device-id} for\
        \ updating"
      operationId: putAgentDeviceByAgentId
      parameters:
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      - description: The id of the agent
        example: 4711
        in: path
        name: agent-id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentDevice'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDevice'
          description: Successfully created a new or updated an existing agent device
      summary: Create or update an agent device
      tags:
      - Agents
  /agent-devices/{agent-class}/{agent-device-id}:
    get:
      description: Gets information about agent device.
      operationId: getAgentDeviceById
      parameters:
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      - description: The id of the device
        example: 4711
        in: path
        name: agent-device-id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AgentDevice'
                type: array
          description: Successfully returned a agent device
      summary: Information about agent device
      tags:
      - Agents
    put:
      description: Update a new agent device.
      operationId: putAgentDeviceById
      parameters:
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      - description: The id of the device
        example: 4711
        in: path
        name: agent-device-id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentDevice'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDevice'
          description: Successfully update a new agent device
      summary: Update an agent device
      tags:
      - Agents
  /agent-devices/{agent-class}/{agent-device-id}/mappings:
    get:
      description: Gets information about mappings between agent and eliona.
      operationId: getAgentDeviceMappingsByDeviceId
      parameters:
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      - description: The id of the device
        example: 4711
        in: path
        name: agent-device-id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AgentDeviceMapping'
                type: array
          description: Successfully returned a mapping
      summary: Information about agent device mappings
      tags:
      - Agents
    post:
      description: Create a new agent device mapping.
      operationId: postAgentDeviceMappingByDeviceId
      parameters:
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      - description: The id of the device
        example: 4711
        in: path
        name: agent-device-id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentDeviceMapping'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDeviceMapping'
          description: Successfully created a new agent device mapping
      summary: Create an agent device mapping
      tags:
      - Agents
    put:
      deprecated: true
      description: "Deprecated - Use POST /agent-devices/{agent-class}/{agent-device-id}/mappings\
        \ for creating and /agent-device-mappings/{agent-class}/{agent-device-mapping-id}\
        \ for updating"
      operationId: putAgentDeviceMappingByDeviceId
      parameters:
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      - description: The id of the device
        example: 4711
        in: path
        name: agent-device-id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentDeviceMapping'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDeviceMapping'
          description: Successfully created a new or updated an existing agent device
            mapping
      summary: Create or update an agent device mapping
      tags:
      - Agents
  /agent-device-mappings/{agent-class}/{agent-device-mapping-id}:
    get:
      description: Gets information about agent device mapping.
      operationId: getAgentDeviceMappingById
      parameters:
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      - description: The id of the device mapping
        example: 4711
        in: path
        name: agent-device-mapping-id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AgentDeviceMapping'
                type: array
          description: Successfully returned a agent device
      summary: Information about agent device mapping
      tags:
      - Agents
    put:
      description: Update a new agent device mapping.
      operationId: putAgentDeviceMappingById
      parameters:
      - description: The class of an agent
        example: iosys
        in: path
        name: agent-class
        required: true
        schema:
          enum:
          - iosys
          - mbus
          type: string
      - description: The id of the device mapping
        example: 4711
        in: path
        name: agent-device-mapping-id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentDeviceMapping'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDeviceMapping'
          description: Successfully update a new agent device mapping
      summary: Update an agent device mapping
      tags:
      - Agents
  /send-mail:
    post:
      description: Sends an e-mail to recipients
      operationId: postMail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageReceipt'
          description: Successfully accepted the e-mail
      summary: Send e-mail
      tags:
      - Communication
  /send-notification:
    post:
      description: Sends a notification to Eliona users
      operationId: postNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Notification'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageReceipt'
          description: Successfully accepted the notification
      summary: Send notification
      tags:
      - Communication
  /message-receipts/{message-id}:
    get:
      description: Gets receipt information for a message.
      operationId: getMessageReceiptById
      parameters:
      - description: The id of the message
        example: AB0815
        in: path
        name: message-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageReceipt'
          description: Successfully returned the receipt
        "404":
          description: Message with ID not found
      summary: Information about a message
      tags:
      - Communication
  /qr-codes/assets/{asset-id}:
    get:
      description: Generates QR code linking to an asset in the Eliona frontend.
      operationId: getQrCodeByAssetId
      parameters:
      - description: The id of the asset
        example: 4711
        in: path
        name: asset-id
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
          description: Successfully returned QR code
        "404":
          description: Asset with id not found
      summary: QR code for assets
      tags:
      - QR codes
  /users:
    get:
      description: Gets a list of users
      operationId: getUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: Successfully returned the list of users
      summary: Information about users
      tags:
      - Users
    put:
      description: Creates an user if no user exists or update it if already exists.
        Uses the email address for updating.
      operationId: putUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Successfully created a new or updated an existing user
      summary: Create or update an user
      tags:
      - Users
  /users/{user-id}:
    get:
      description: Gets information about an user.
      operationId: getUserById
      parameters:
      - description: The id of the user
        example: 123
        in: path
        name: user-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Successfully returned the user by id.
        "404":
          description: User with id not found
      summary: Information about an user
      tags:
      - Users
  /projects:
    get:
      description: Gets a list of projects
      operationId: getProjects
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                type: array
          description: Successfully returned the list of projects
      summary: Information about projects
      tags:
      - Projects
    put:
      description: Creates a project if no project exists or update it if already
        exists. Uses the id for updating.
      operationId: putProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Successfully created a new or updated an existing project
      summary: Create or update a project
      tags:
      - Projects
  /projects/{project-id}:
    get:
      description: Gets information about a project.
      operationId: getProjectById
      parameters:
      - description: The id of the project
        example: 99
        in: path
        name: project-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Successfully returned the project by id.
        "404":
          description: Project with id not found
      summary: Information about a project
      tags:
      - Projects
  /tags:
    get:
      description: Gets a list of tags
      operationId: getTags
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Tag'
                type: array
          description: Successfully returned the list of tags
      summary: Information about tags
      tags:
      - Tags
    put:
      description: Creates a tag if no tag exists or update it if already exists.
        Uses name for updating.
      operationId: putTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
          description: Successfully created a new or updated an existing tag
      summary: Create or update a tag
      tags:
      - Tags
  /tags/{tag-name}:
    get:
      description: Gets information about a tag.
      operationId: getTagByName
      parameters:
      - description: The name of the tag
        example: Support
        in: path
        name: tag-name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
          description: Successfully returned the tag by name.
        "404":
          description: Tag with name not found
      summary: Information about a tag
      tags:
      - Tags
components:
  parameters:
    app-name:
      description: The name of the app
      example: weather
      in: path
      name: app-name
      required: true
      schema:
        type: string
    patch-name:
      description: The name of the patch
      example: 2.0.0
      in: path
      name: patch-name
      required: true
      schema:
        type: string
    expansions:
      description: "List of referenced data to load, insert or update. Each entry\
        \ defines the full qualified name of the field to be expanded as follows 'ObjectName.fieldName'."
      explode: false
      in: query
      name: expansions
      schema:
        items:
          type: string
        nullable: true
        type: array
      style: form
    asset-type-name:
      description: The name of the asset type
      example: weather_location
      in: path
      name: asset-type-name
      required: true
      schema:
        type: string
    assetTypeName:
      description: Filter the name of the asset type
      example: weather_location
      in: query
      name: assetTypeName
      required: false
      schema:
        type: string
    projectId:
      description: Filter for a specific project
      in: query
      name: projectId
      required: false
      schema:
        nullable: true
        type: string
    assetIdentifiedBy:
      description: |
        Serves the field name send in the request body as a unique identifier for the asset, essential for
        operations like updates or deletions. Please refer to the Asset
        schema definition for further information about this fields.

        In cases where this parameter isn't defined, all field names
        are used in the order defined. So if there is no 'resourceId' present in the request body, the 'deviceId' is
        used and when there is also no deviceId present the 'id' field (assetId) is used.
      example: resourceId
      in: query
      name: identifiedBy
      required: false
      schema:
        enum:
        - resourceId
        - deviceId
        - id
        type: string
    asset-id:
      description: The id of the asset
      example: 4711
      in: path
      name: asset-id
      required: true
      schema:
        type: integer
    assetId:
      description: Filter for a specific asset id
      example: 4711
      in: query
      name: assetId
      required: false
      schema:
        type: integer
    dataSubtype:
      description: Filter for a specific type of asset data
      example: input
      in: query
      name: dataSubtype
      required: false
      schema:
        enum:
        - input
        - info
        - status
        - output
        type: string
    fromDate:
      description: Filter by lower date time (RFC3339) limit inclusive
      example: 2020-01-01T09:00:00.000Z
      in: query
      name: fromDate
      required: false
      schema:
        type: string
    toDate:
      description: Filter by upper date time (RFC3339) limit exclusive
      example: 2021-12-31T23:00:00.000Z
      in: query
      name: toDate
      required: false
      schema:
        type: string
    aggregationId:
      description: Filter for a specific aggregation id
      example: "0815"
      in: query
      name: aggregationId
      required: false
      schema:
        type: integer
    aggregation-id:
      description: The id of the aggregation
      example: 4711
      in: path
      name: aggregation-id
      required: true
      schema:
        type: integer
    widget-type-name:
      description: The name of the widget type
      example: weather
      in: path
      name: widget-type-name
      required: true
      schema:
        type: string
    dashboard-id:
      description: The id of the dashboard
      example: 4711
      in: path
      name: dashboard-id
      required: true
      schema:
        type: integer
    alarmRuleIds:
      description: List of alarm rule ids for filtering
      explode: false
      in: query
      name: alarmRuleIds
      required: false
      schema:
        items:
          type: integer
        nullable: true
        type: array
      style: form
    alarm-rule-id:
      description: The id of the alarm rule
      example: 4711
      in: path
      name: alarm-rule-id
      required: true
      schema:
        type: integer
    node-ident:
      description: The UUID identifier of the node
      example: 4711
      in: path
[...]
